parity /mnt/sdc/snapraid.parity
content /var/snapraid/snapraid.content
content /mnt/storage/snapraid.content
data d1 /mnt/storage/
exclude /lost+found/
exclude /tmp/
exclude /downloads/
exclude /configs/
exclude /scripts/